<div id="transaction-quick-create">
<h3>Quick Create Transaction from Existing</h3>
  <ul id="form-validation-messages" style="display: none;"></ul>
  <%= form_tag tranxactions_quick_create_path, :id => 'quick-create-form' do %>
    <span class="field">
      <%= label_tag 'transaction_date', 'Date:' %>
      <%= text_field_tag 'transaction_date', (DateTime.now - 7.hours).to_date.to_s, :tabindex => autotab, :class => 'date required' %>
    </span>
    <span class="field">
      <%= label_tag 'tranxaction_id', 'Transaction:' %>
      <%= hidden_field_tag 'tranxaction_id', '', :class => 'required' %>
      <%= autocomplete_field_tag 'keyword', '', tranxactions_autocomplete_transaction_tostring_path, :tabindex => autotab, :"data-id-element" => '#tranxaction_id', :class => 'transaction-tostring', :delay => 1000 %>
    </span>
    <span class="field">
      <%= check_box_tag 'edit', 'edit', false, :tabindex => autotab %>
      <%= label_tag 'edit', 'Edit after Create' %>
    </span>
    <span class="actions">
      <%= submit_tag "Create", :tabindex => autotab %>
    </span>
  <% end %>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $('#quick-create-form').validate({
/*    debug: true,*/
    ignore: [],
    errorLabelContainer: "#form-validation-messages",
    wrapper: 'li',
    rules: {
      tranxaction_id: {
        required: true,
        minlength: 1
      },
      transaction_date: {
        required: true,
        dateISO: true,
        rangelength: [10,10]
      }
    },
    messages: {
      transaction_date: "Please enter a valid transaction date (YYYY-MM-DD)",
      tranxaction_id:   "Please select an existing transaction"
    }
  });
</script>
<% end %>
