<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_date %><br />
    <%= f.text_field :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <%= f.fields_for :transaction_entries do |transaction_entry| %>
    <%= render :partial => 'transaction_entries/transaction_entry_fields', :locals => {:f => transaction_entry } %>
  <% end %>
  <p><%= link_to_add_fields "Add Transaction Entry", f, :transaction_entries %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
