<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Transaction Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
<!--
    <th></th>
    <th></th>
    <th></th>
-->
<!--    <th></th>-->
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr class="transaction-info">
    <td><%= transaction.transaction_date %></td>
    <td><%= transaction.description %></td>
    <td></td>
    <td></td>
<!--
    <td></td>
    <td></td>
    <td></td>
-->
<!--    <td><%#= link_to 'Show', transaction %></td>-->
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% transaction.transaction_entries.each do |entry| %>
    <tr class="transaction-entry-info">
      <td></td>
      <td></td>
      <td><%= entry.account.name %></td>
      <td class="currency"><%= entry.debit_amount %></td>
<!--
      <td><%#= link_to 'Show', entry %></td>
      <td><%#= link_to 'Edit', edit_transaction_entry_path(entry) %></td>
      <td><%#= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
-->
<!--      <td></td>-->
      <td></td>
      <td></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
