  <div class="nav_links">
    <ul id="nav-menu">
      <li><% if current_user %><%= current_user.login %><% end %></li>
      <li class="accounts"><%= link_to 'Accounts', accounts_path %></li>
      <li class="transactions"><%= link_to 'Transactions', transactions_path %></li>
<!--    </ul>-->
<!--    <ul id="nav-help">-->
      <li><%= link_to 'LRT Fares', 'http://www.mtr.com.hk/jplanner/eng/lr_planner_index.php', :class => 'external', :target => '_blank' %></li>
      <li><%= link_to 'MTR Fares', 'http://tw.piliapp.com/hongkong-mtr/', :class => 'external', :target => '_blank' %></li>
      <li><%= link_to 'MTR Codes', 'http://hkrail.wikia.com/wiki/%E6%B8%AF%E9%90%B5%E8%BB%8A%E7%AB%99%E4%BB%A3%E8%99%9F', :class => 'external', :target => '_blank' %></li>
      <li><%= link_to 'KMB', 'http://www.kmb.hk/tc/services/search.html', :class => 'external', :target => '_blank' %></li>
      <li><%= link_to 'CityBus', 'http://www.nwstbus.com.hk/', :class => 'external', :target => '_blank' %></li>
      <li id="help_button" class="help"><%= link_to 'Help', '#' %></li>
      <li><% if current_user %><%= link_to 'Logout', logout_path, :method => :delete %> <% end %></li>
    </ul>
  </div>
  <div class="clear"></div>
  <br>
