<!DOCTYPE html>
<html>
  <head>
    <title>Personal Finance Management</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'autocomplete-rails.js'  %>
    <%= javascript_include_tag 'jquery-ui-1.8.20.custom.min' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.20.custom.css' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= @page_name %>">
    <div id="container">
      <%= render :partial => 'layouts/menu' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= yield(:javascripts) %>
  </body>
</html>
