<!DOCTYPE html>
<html>
  <head>
    <title>Personal Finance Management</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'autocomplete-rails.js'  %>
    <%= javascript_include_tag 'jquery-ui-1.8.20.custom.min' %>
    <%= javascript_include_tag 'jquery.hotkeys' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= javascript_include_tag 'global' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.20.custom.css' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= @page_name %>">
    <div id="container">
      <%= render :partial => 'layouts/menu' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/help' %>
    <%= yield(:javascripts) %>
    <script type="text/javascript">
      <%= hotkey_for_path_js('t', transactions_path) %>
      <%= hotkey_for_path_js('shift+t', new_transaction_path) %>
      <%= hotkey_for_path_js('shift+a', new_account_path) %>
      <%= hotkey_for_path_js('b', accounts_path(:stmt_type => 'bs')) %>
      <%= hotkey_for_path_js('i', accounts_path(:stmt_type => 'is')) %>
      <%= hotkey_for_path_js('e', accounts_expense_report_path) %>
      $(document).bind('keyup', 'q', function(evt){ 
        $('#transaction_date').focus();
      });
      $(document).bind('keyup', 'shift+/', show_help);
      $(document).bind('keyup', 'esc', hide_help);
      $('#help_button').click(show_help);
      $('#close_help_button').click(hide_help);
    </script>
  </body>
</html>
