<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.hidden_field :parent_id %>
    <%= text_field_tag :parent_id, f.object.parent ? f.object.parent.name : '', :"data-autocomplete" => accounts_autocomplete_account_name_path, :"data-id-element" => "#" + form_tag_id(f.object_name, :parent_id), :tabindex => autotab %>
  </div>
  <div class="field">
    <%= f.label :opening_balance %><br />
    <%= f.text_field :opening_balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
