<ul id="form-validation-messages" style="display: none;"></ul>
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :tabindex => autotab %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.hidden_field :parent_id %>
    <%= text_field_tag :parent_id, f.object.parent ? f.object.parent.name : '', :"data-autocomplete" => accounts_autocomplete_account_name_path, :"data-id-element" => "#" + form_tag_id(f.object_name, :parent_id), :tabindex => autotab %>
  </div>
  <div class="field">
    <%= f.label :opening_balance %><br />
    <%= f.text_field :opening_balance, :tabindex => autotab %>
  </div>
  <div class="actions">
    <%= f.submit :tabindex => autotab %>
  </div>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $('#new_account').validate({
    ignore: [],
    errorLabelContainer: "#form-validation-messages",
    wrapper: 'li',
    rules: {
      "account[name]": {
         required: true,
         minlength: 3
      },
      "account[parent_id]": {
        required: {
          depends: function(element){
            return $('#parent_id').val()!="";
          }
        }
      }
    },
    messages: {
      "account[name]": "At least 3 characters required",
      "account[parent_id]": "You have entered something in the Parent Account but not selected the account"
    }
  });
</script>
<% end %>
