  <tr class="transaction-info">
    <td><%= transaction.transaction_date %></td>
    <td><%= transaction.description %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% transaction.transaction_entries.each do |entry| %>
    <tr class="transaction-entry-info">
      <td></td>
      <td></td>
      <td><%= entry.account.name %></td>
      <td class="currency"><%= number_with_precision(entry.debit_amount, :delimiter => ',', :precision => 2) %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>

