<%= render 'tranxactions/quick_create' %>
<h1>Listing accounts</h1>
<h3><div class="link-button"><%= link_to '>> Create New Account', new_account_path, :tabindex => autotab %></div>
    <div class="link-button"><%= link_to '>> Create New Transaction', new_tranxaction_path, :tabindex => autotab %></div>
    <div class="clear"></div>
</h3>
<div class="field">
  <%= check_box_tag 'hide-zero-accounts' %>
  <%= label_tag 'hide-zero-accounts', 'Hide accounts with zero balance' %>
</div>

<table id="account-list">
  <tr>
    <th></th>
    <th></th>
    <th>Account Name</th>
    <th>Current Balance</th>
    <th>Monthly Balance</th>
  </tr>

<%= render :partial => 'account',:collection => @accounts.root_accounts, :locals => {:level => 0} %>
<% if params[:stmt_type] == 'is' %>
  <tr>
    <td></td>
    <td></td>
    <td>Savings</td>
    <td></td>
    <td class="currency"><%=currency_format(get_saving_amount(@is_amounts, @accounts))%></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :javascripts do %>
<script type="text/javascript">
$('#hide-zero-accounts').click(function(evt){
  if(this.checked){
    $('table#account-list tbody tr').filter(function(index){
      return $(this).find('td.account-currency a').first().html() == "0.00";
    }).hide();
  }else{
    $('table#account-list tr').show();
  }
});
</script>
<% end %>

