<p id="notice"><%= notice %></p>

<h1>Showing Account - <%= @account.name %></h1>
<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Parent Account:</b>
  <%= @account.parent ? link_to(@account.parent.name, @account.parent) : 'Nil'  %>
</p>

<p>
  <b>Children Accounts:</b>
  <% if @account.children.each do |a| %>
        <%= link_to(a.name, a) %>
  <% end.empty?  %>
    Nil
  <% end %>
</p>

<p>
  <b>Opening Balance:</b>
  <%= currency_format(@account.opening_balance) %>
</p>

<p>
  <b>Current Balance:</b>
  <%= currency_format(@account.current_balance) %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

<h1>List of Transactions</h1>
<%= link_to 'New Transaction', new_transaction_path %>
<div id="account-transactions-container">
<%= render "transactions/transaction_entries", :transactions => @account.transactions %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    highlight_account_in_transactions("<%= @account.name %>");
  </script>
<% end %>
